<footer class="footer">
	<div style="text-align:center; position:relative; top: 76px">


  <small style="margin-left:5px; position:relative; top:0px; float:bottom">   Designed and Developed by 
    <a href="mailto:matthewdschulman@gmail.com">Matt Schulman</a>.
    <a href="http://www.linkedin.com/pub/matthew-schulman/61/118/159">
        <img src="/assets/linkedin.png" alt="linkedin" style="width:1.15%; height:1.15%; position:relative; bottom:2px"/>
      </a>
    <a href="http://www.github.com/matthewdschulman">
        <img src="/assets/github.png" alt="github" style="width:1.15%; height:1.15%; position:relative; bottom:2px"/>
      </a>
	
    
      
  </small>

  
  <!-- <nav>
    <ul>
      
      <li><a href="http://news.railstutorial.org/">News</a></li> 
    </ul>
  </nav> -->
</footer>